{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">This is round number {{ round_number }}. Please guess the outcome of both coins for this round:</h2>

    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            <div class="mx-4 text-center">
                <h5>Outcome of the Fair Coin</h5>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="fair_outcome" value="H" required> Heads
                </label>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="fair_outcome" value="T" required> Tails
                </label>
            </div>

            <div class="mx-4 text-center">
                <h5>Outcome of the Biased Coin</h5>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="biased_outcome" value="H" required> Heads
                </label>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="biased_outcome" value="T" required> Tails
                </label>
            </div>
        </div>

        <h2 class="text-center my-4">If you correctly guess the outcome of the coin you chose to reveal, you will be paid the expected value - 0.95 * 2 - of this round REGARDLESS of whether you correctly guessed the outcome of the coin you did not choose.</h2>


        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>
</div>
{% endblock %}
