{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">This is round number {{ round_number }}. Please guess the outcome of both coins for this round:</h2>

    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            <div class="mx-4 text-center">
                <h5>Outcome of the Fair Coin</h5>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="fair_outcome" value="H" required> Heads
                </label>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="fair_outcome" value="T" required> Tails
                </label>
            </div>

            <div class="mx-4 text-center">
                <h5>Outcome of the Biased Coin</h5>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="biased_outcome" value="H" required> Heads
                </label>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="biased_outcome" value="T" required> Tails
                </label>
            </div>
        </div>

        <div class="alert alert-info text-center my-4">
            <h5>If you correctly guess the outcome of the coin you chose to reveal, you will be paid the expected value of this round regardless of whether you correctly guessed the outcome of the other coin. </h5>
        </div>

        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>
</div>
{% endblock %}
