
<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study!</h2>

    <p>
        Welcome to the experiment!
 
        
    <p>
        In this experiment you will be presented with a series of decisions, and be reimbursed based on your answers. The next pages describe the experiment. After that there will be two practice rounds where you will get a chance to practice, and make sure you understand the instructions. After you confirm that you have read and understood the instructions, you will proceed to the paid part of the experiment. 
    </p>
  <p>

  </p>
      
    </div>
</div>
