<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Informed Consent</h2>

    <p>
        As a participant in this experiment, you have the right to know the potential risks and benefits of participating. 
    </p>
    <p>
        The risks of participating in this experiment to you include mild eye fatigue from looking at a screen.
    </p>
    <p>
        The benefits of participating in this experiment to you are the monetary rewards you will receive. 
    </p>

  <p>
      You can choose to end this experiment at any time, without penalty. If you complete the experiment, you will be paid the base reimbursement of $5, plus any earnings you made during the experiment.
  </p>

  <p>
      This experiment has been approved by the Columbia University Institutional Review Board. Approval form information tk. 
      Contact info tk. 
</p>
    </div>
</div>
