<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study! Please read the following instructions carefully. </h2>
    <p>
        The experiment proceeds in rounds. In each round, two coins will be flipped - a fair one (with equal probabilities of landing heads or tails), which we will call coin 1, and a biased one (with a high chance of landing heads), which we will call coin 2. You will <b>not</b> be informed of their outcomes automatically.
      </p>  
        <p>
            Thus, in each round, two coins will be flipped, and you will not know the results.
        </p>
       <p> 
        Each round has two questions. First, you will be given the option to <b>find out the outcome of one of the two coins</b>. The first question will ask you which coin (the fair or the biased) you'd like to reveal. Once you choose the coin, the outcome will be revealed to you on the next page. 
        After that, you will be asked to guess the outcome of <b>both</b> coins.

        </p>

        <p>
        If you guessed correctly in the second question, you will receive $1. If not, you will receive $0. You will not, however, see whether you won or not immediately. Your winnings will be revealed only at the end of the 10 rounds.
    </p>
        <p>
            This process will continue for 10 rounds. The experiment will end after you complete all 10 rounds.
        </p>
    </div>
</div>
